@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100vw;
  font-size: 62.5%;
  box-sizing: border-box;
  @include respond(mobile-landscape) {
    font-size: 52.5%;
  }
  @include respond(mobile) {
    font-size: 62.5%;
  }
}

body,
#root {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

textarea,
input,
button,
a {
  color: inherit;
  font: inherit;
  border: none;
  &:focus {
    outline: none;
  }
}
a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

a:hover,
a:active {
  color: $secondary-color;
}
