@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@font-face {
  font-family: " SpaceGrotesk";
  src: url("../../assets/fonts/static/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../assets/fonts/static/SpaceGrotesk-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

html {
  font-family: "SpaceGrotesk", sans-serif;
  color: $text-color;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
  font-style: normal;
}

.heading {
  color: $heading-color;
  &--xl {
    font-size: $xl-size;
    line-height: 1;
    letter-spacing: -2.5px;
    @include respond(laptop) {
      font-size: 8rem;
    }
    @include respond(tab-landscape) {
      font-size: 7.2rem;
      letter-spacing: -2.05px;
    }
    @include respond(mobile) {
      font-size: 4rem;
      letter-spacing: -1.14px;
    }
  }
  &--l {
    font-size: $l-size;
    line-height: 1.17;
    letter-spacing: -0.15px;
    @include respond(mobile) {
      font-size: 3.2rem;
      line-height: 1.25;
      letter-spacing: -1px;
    }
  }
  &--m {
    font-size: $m-size;
    line-height: 1.33;
  }
  &--s {
    text-transform: uppercase;
    font-size: $xs-size;
    line-height: 1.625;
    letter-spacing: 0.23rem;
  }
}
@-moz-document url-prefix() {
  .heading--xl {
    letter-spacing: -0.3rem;
  }
}

.paragraph {
  font-weight: 500;
  font-style: normal;
  font-size: clamp($xs-size, 1.8rem, 3rem);
  line-height: 1.6;
  @include respond(mobile-landscape) {
    font-size: $xs-size;
    letter-spacing: 0;
    line-height: 1.625;
  }
}
