@use "../abstracts/variables" as *;

.button {
  background-color: transparent;
  border-bottom: 1px solid $secondary-color;
  padding-bottom: 1rem;
  transition: color 0.2s;
  &:hover,
  &:active {
    cursor: pointer;
    color: $secondary-color;
  }
  // &:disabled {
  //   color: #999;
  //   border-bottom-color: #999;
  // }
}
