@use "../abstracts/variables" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    font-size: 3.2rem;
    line-height: 1;
    letter-spacing: -0.44px;
  }
  &__social {
    display: flex;
    gap: 3rem;
    margin-right: 3rem;
  }
  &__icon {
    color: $heading-color;
    width: 24px;
    height: 24px;
    &:hover {
      color: $secondary-color;
    }
  }
}
