@use "../abstracts/mixins" as *;

.skill {
  @include respond(mobile) {
    text-align: center;
  }
  &__topic {
    margin-bottom: 1.4rem;
    @include respond(mobile) {
      margin-bottom: 0.1rem;
    }
  }
}
