@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  grid-column: center;
  grid-row: 5 / 6;
  @include respond(mobile) {
    grid-row: 6 / 7;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
  }
  &__background {
    grid-column: full;
    grid-row: 5 / 6;
    background-color: $tertiary-color;
    background-image: url("../../assets/images/pattern-rings.svg");
    background-repeat: no-repeat;
    background-size: 36.5%;
    background-position: -20.7rem 32.7rem;
    @include respond(mobile) {
      grid-row: 6 / 7;
    }
  }
  .navbar {
    margin: 4.7rem 0 9.2rem;

    &__social {
      margin: 0;
    }
    @include respond(mobile) {
      grid-column: 2 / 3;
    }
  }
}
