@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-projects {
  grid-column: center;
  grid-row: 4 / 5;
  padding-top: 8.5rem;
  margin-bottom: 13.9rem;
  @include respond(tab-landscape) {
    padding-top: 3.5rem;
    margin-bottom: 10rem;
  }
  @include respond(mobile) {
    grid-row: 5 / 6;
    max-width: 34.5rem;
    padding-top: 1.5rem;
    margin-bottom: 8rem;
  }
  &__header {
    width: 100%;
    margin-bottom: 8rem;
    @include respond(tab-landscape) {
      margin-bottom: 6rem;
    }
  }
  &__list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 6.9rem;
    @include respond(tab-landscape) {
      column-gap: 2.2rem;
      row-gap: 6rem;
    }
    @include respond(mobile) {
      grid-template-columns: 1fr;
      row-gap: 4rem;
    }
  }
}
