@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-skills {
  grid-column: center;
  grid-row: 3 / 4;
  margin-top: 10.4rem;
  padding: 7.2rem 0 5.5rem;
  border-top: 1px solid $gray-color;
  @include respond(tab-landscape) {
    padding-bottom: 6.5rem;
  }
  @include respond(mobile) {
    grid-row: 4 / 5;
    min-width: 34.5rem;
    margin: 8.6rem 0 6.5rem;
    padding: 4rem 0;
    border-bottom: 1px solid $gray-color;
  }
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34.5rem, 1fr));
    row-gap: 5.8rem;
    @include respond(mobile) {
      row-gap: 2.4rem;
    }
  }
  &__background {
    grid-row: 3 / 4;
    grid-column: col-start 11 / full;
    background-image: url("/images/pattern-rings.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    @include respond(mobile) {
      grid-row: 4 / 5;
      grid-column: middle-cut / full;
    }
  }
}
