@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-projects {
  grid-column: center;
  grid-row: 4 / 5;
  padding-top: 8.5rem;
  @include respond(tab-landscape) {
    padding-top: 3.5rem;
  }
  @include respond(mobile) {
    grid-row: 5 / 6;
    min-width: 34.5rem;
    margin: 0;
    padding-top: 1.5rem;
  }
  &__header {
    width: 100%;
    margin-bottom: 8rem;
  }
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.72rem;
    row-gap: 6.9rem;
    @include respond(mobile) {
      grid-template-columns: 250px;
      column-gap: 0;
    }
  }
}
