@use "./variables" as *;

@mixin error-icon {
  content: "!";
  font-size: 2rem;
  font-weight: 100;
  color: $error-color;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 1px solid $error-color;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
