///@type Color
$primary-color: #151515;
$secondary-color: #4ee1a0;
$tertiary-color: #242424;
$text-color: #d9d9d9;
$heading-color: #ffff;
$error-color: #ff6f5b;
$gray-color: #979797;

///@type Font
$xl-size: 8.8rem !default;
$l-size: 4.6rem !default;
$m-size: 2.4rem !default;
$s-size: 1.8rem !default;
$xs-size: clamp(16px, 1.6rem, 3rem) !default;

///@type Breakpoint
$bp-laptop: 72.5em; //1160px
$bp-tab-land: 64em; //1024px
$bp-tab-port: 58.75em; //940px
$bp-mobile-land: 47.75em; //764px
$bp-mobile-port: 40.75em; //652px
